.mat-mdc-dialog-surface {
  border-radius: 10px !important;
  padding: 20px 25px;
}

.mat-mdc-dialog-title {
  color: #2c3e50;
  text-align: center;
}

.mat-mdc-dialog-content {
  padding-top: 10px;
}

.mat-mdc-form-field {
  width: 100%;
}

.mat-mdc-dialog-actions {
  padding-top: 20px;
}

.mat-mdc-raised-button.mat-primary {
  background-color: #84abd1 !important;
  border-radius: 8px;
}

.mat-mdc-raised-button.mat-primary:hover {
  background-color: #6c9fc7 !important;
}

button[mat-button] {
  border-radius: 8px;
}
