/* src/app/components/footer/footer.component.css */

.app-footer {
  /* CAMBIADO: Usar el color primario (Azul Fuerte) */
  background-color: #3f51b5; 
  
  /* Ajustar el color del texto para que contraste con el azul oscuro */
  color: white; 
  padding: 1px 0;
  text-align: center;
  width: 100%;
  /* La sombra superior puede ser más tenue o eliminarse, ya que el color es oscuro */
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.2); 
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto; /* Centra el contenido */
}

.footer-content p {
  margin: 4px 0; /* Reduce el espacio entre líneas de texto */
  font-size: 0.9rem;
}

.social-icons {
  margin: 10px 0 0 0;
}

.social-icons mat-icon {
  margin: 0 10px;
  font-size: 20px;
  color: var(--color-primary); /* Colorear los íconos */
  cursor: pointer;
}
