/* src/styles.css (o styles.scss) */

html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #f4f4f4;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  padding: 20px;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

main:has(.admin-container),
main:has(.layout),
main:has(.operador-container) {
    max-width: none;
    width: 100%;
    margin: 0;
    padding: 0;
}

main.admin-layout-override {
    max-width: none;
    width: 100%;
    margin: 0;
    padding: 0;
}

button:hover {
  cursor: pointer;
}