<h2 mat-dialog-title>Turno Asignado con Éxito</h2>

<div mat-dialog-content>
  <p>Tu turno ha sido reservado con los siguientes detalles:</p>
  <mat-list role="list">
    <mat-list-item role="listitem"><strong>Especialista:</strong> {{ data.profesional }}</mat-list-item>
    <mat-list-item role="listitem"><strong>Especialidad:</strong> {{ data.especialidad }}</mat-list-item>
    <mat-list-item role="listitem"><strong>Fecha:</strong> {{ data.fecha }}</mat-list-item>
    <mat-list-item role="listitem"><strong>Hora:</strong> {{ data.hora }} horas</mat-list-item>
  </mat-list>
</div>

<div mat-dialog-actions align="end">
  <button mat-raised-button color="primary" (click)="cerrar()">Aceptar</button>
</div>
