.asignar-turno-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 30px 40px;
}

.asignar-turno-container h2 {
  text-align: center;
  color: #2c3e50;
}

.asignar-turno-container .progress {
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

.asignar-turno-container .card {
  border: none;
  border-radius: 10px;
  background-color: #f8f9fa;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  padding: 20px;
}

.asignar-turno-container .card-title {
  font-weight: 600;
  font-size: 1.2rem;
  color: #2c3e50;
}

.asignar-turno-container .form-control,
.asignar-turno-container .form-select {
  border-radius: 8px;
  padding: 10px 12px;
  font-size: 1rem;
  border: 1px solid #dee2e6;
  transition: all 0.2s ease;
      width: 75%;
    margin: 35px;
}

.asignar-turno-container .form-control:focus,
.asignar-turno-container .form-select:focus {
  border-color: #84abd1;
  box-shadow: 0 0 0 3px rgba(132, 171, 209, 0.3);
}

.asignar-turno-container .btn {
 border-radius: 8px;
    border: none;
    background-color: #84abd1;
    color: white;
    border-radius: 10px;
    padding: 10px;
    margin-left: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.btnSiguiente{
    border-radius: 8px;
    border: none;
    background-color: #84c18f;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

.asignar-turno-container .btn-success {
  background-color: #84c18f;
  border: none;
}

.asignar-turno-container .btn-success:hover {
  background-color: #6fad7b;
  cursor: pointer;
}

.asignar-turno-container .btn-info {
  background-color: #84abd1;
  border: none;
  cursor: pointer;
}

.asignar-turno-container .btn-info:hover {
  background-color: #6c9fc7;
}

.asignar-turno-container .btn-outline-secondary:hover {
  background-color: #e9ecef;
}

.formulario{
    padding: 20px;
}

.asignar-turno-container .list-group-item {
  border-radius: 6px;
  transition: all 0.2s ease;
  background-color: white;
    padding: 15px;
    margin: 11px;
}

.asignar-turno-container .list-group-item.active {
  background-color: #2c3e50;
  color: #fff;
  font-weight: bold;
}

.asignar-turno-container .alert {
  border-radius: 8px;
}
